<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css"/>
    <title>Floor Store</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button>
                    &#9776;
                </button>
                <a href="index.html">The Floor Nest</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Menu</h3>
            <ul>
                <li>
                    <a href="index.html">The Book</a>
                </li>
                <li>
                    <a href="https://medium.com/@snsaleh11/the-birth-of-flightless-d800a0bc011">About the Book</a>
                </li>
            </ul>
        </aside>
        <main class="main">
            <div class="content">
                <ul class="products">
                    <li> 
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">FLIGHTLESS By Caleb Saleh</a>
                            </div>
                            <div class="product-brand">Children's Picture Book</div>
                            <div class="product-price">$15</div>
                            <div class="product-rating">5.0 Stars (198 reviews)</div>
                        </div> 
                    </li>
                    <li> 
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product">
                            <div class="product-name">
                                <a href="product.html">FLIGHTLESS By Caleb Saleh</a>
                            </div>
                            <div class="product-brand">Children's Picture Book</div>
                            <div class="product-price">$15</div>
                            <div class="product-rating">5.0 Stars (198 reviews)</div>
                        </div> 
                    </li>
                </ul>
            </div>
        </main>
        <footer class="footer">
            All rights reserved.
        </footer>
    </div>
</body>

</html>